
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;margin: 1.5em 0.5em;">ĐÂY LÀ TRANG QUẢN LÝ CỬA HÀNG</h2>


@Html.ValidationMessage("ErrorMessage", new { style = "color:red" })