
@{
    ViewBag.Title = "NotAuthentication";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("< Trang chủ", "Index", "Admin")
<h1 style="text-align:center; text-transform:uppercase; font-size: 2.2em; color:red; margin:0 2em">BẠN KHÔNG CÓ QUYỀN TẠI TRANG NÀY</h1>

<div style="display:flex; justify-content:center; align-items:center">
    <img src="~/images/no-permission.jpg" />
</div>


