
@{
    ViewBag.Title = "NotAuthentication";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center; text-transform:uppercase; font-size: 2.2em; margin:2em;">BẠN KHÔNG CÓ QUYỀN TẠI TRANG NÀY</h1>

@Html.ActionLink("Trở lại trang quản lý", "Index", "Admin")

