
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center; font-size: 1.5em; font-weight:900">
    Đơn hàng của bạn đã được chúng tôi ghi nhận, cảm ơn đã sử dụng dịch vụ của chúng tôi.
</h3>

<a href="@Url.Action("Index","SanPham")">Trở lại trang chủ</a>