<div class="row">
    @using (Html.BeginForm("Index", "SanPham"))
    {
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" name="SearchString" placeholder="Nhập Sản Phẩm Cần Tìm..." style="width: 250px; letter-spacing:2px;" class="form-control">
            </div>
            &nbsp;
            <button type="submit" class="btn btn-primary" style="width: 80px;"><i class="fa fa-search" style="font-size:17px"></i></button>
        </div>
    }
</div>