@using Doan16.Models
@model string[]

@{
    ViewBag.Title = "ThemPhieuGH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@ViewBag.Hienthi
<br />
@ViewBag.TongTienGiao
<br />

@*
    @for(int i = 0; i < Model.Length; i++)
    {
        <p>@Model[i]</p>
        <br />
    }
*@